.tracks {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;

    .track {
        display: block;
        margin: 0.5rem;
        border: 1.5px solid $primary-color1;
        border-radius: 5px;
        width: 5rem;
        height: 9rem;
        transition: all $transition-time linear;
        position: relative;
        transform: scale(0.95);

        &.active {
            transform: scale(1);
            border: 2.5px solid $secondary-color;
            .stem {
                color: $secondary-color;
            }

            &.up {
                &:before {
                    opacity: 1;
                }
            }

            &.down {
                &:after {
                    opacity: 1;
                }
            }
        }

        @mixin carret {
            content: "";
            position: absolute;
            left: calc(50% - 1rem);
            transition: all 0.25s linear;
            opacity: 0;
            width: 0;
            height: 0;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
        }

        &:before {
            @include carret;
            top: -1rem;
            border-bottom: 1rem solid $secondary-color;
        }

        &:after {
            @include carret;
            bottom: -1rem;
            border-top: 1rem solid $secondary-color;
        }

        .stems {
            &::-webkit-scrollbar {
                display: none;
            }
            overflow-x: hidden;
            overflow-y: scroll;

            scroll-snap-type: y mandatory;
            scroll-snap-points-y: repeat(7rem);

            -webkit-overflow-scrolling: touch;
            -webkit-scroll-snap-type: y mandatory;
            -webkit-scroll-snap-points-y: repeat(7rem);
            &.active {
                scroll-snap-type: none;
                scroll-snap-points-y: none;
                -webkit-scroll-snap-type: none;
                -webkit-scroll-snap-points-y: none;
            }
            width: 100%;
            height: 100%;
        }

        .stem {
            user-select: none;
            scroll-snap-align: start;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            -webkit-scroll-snap-coordinate: 0% 0%;
            .stem-number {
                position: relative;
                left: -5px;
                display: inline-block;
                font-size: 4.5rem;
                letter-spacing: -10px;
                color: $primary-color;
                font-family: $mono-font;
            }
        }
    }
}
