.transport {
    $size: 50px;
    height: $size * 0.74;
    width: 100%;
    max-width: 640px;
    padding: 4rem 0;
    /* align-self: flex-end; */
    /* margin-top: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .play-button {
        $size: 50px;
        position: relative;
        border: 0;
        background: transparent;
        box-sizing: border-box;
        width: 0;
        height: $size * 0.74;
        transform: translate(8px, 0);

        border-color: transparent transparent transparent $primary-color;
        transition: 100ms all ease;
        cursor: pointer;

        // play state
        border-style: solid;
        border-width: $size * 0.37 0 $size * 0.37 $size * 0.6;
        overflow: visible;

        &.stop {
            border-style: double;
            border-width: 0px 0 0px $size * 0.6;
        }

        &:focus {
            outline: 0;
        }

        &:active {
            border-color: transparent transparent transparent $secondary-color;
        }
    }
}
