$gutter: 12px;
$transition-time: 200ms;
$bg-color: rgb(8, 10, 15);
$bg-color1: rgba(8, 10, 15, 0.5);
$primary-color: rgb(84, 204, 219);
$primary-color1: rgba(84, 204, 219, 0.5);
$secondary-color: rgb(255, 222, 222);
$secondary-color1: rgba(255, 222, 222, 0.5);
$secondary-color-lighter: rgba(255, 236, 236, 0.5);

$mono-font: courier, monospace;
$sans-font: "Roboto", sans-serif;
