$gutter: 12px;
$transition-time: 250ms;
$bg-color: rgb(8, 10, 15);
$primary-color: rgb(84, 204, 219);
$secondary-color: rgb(255, 222, 222);
$secondary-color-lighter: rgba(255, 236, 236, 0.5);

$mono-font: courier, monospace;
$sans-font: "Roboto", sans-serif;
